@page "/"
@using System.Diagnostics.Eventing.Reader
@rendermode InteractiveServer

<PageTitle>Storage overview</PageTitle>

<button class="btn-primary" @onclick="LoadStorage">
    @if (_isLoading)
    {
        <div class="lds-circle">
            <div></div>
        </div>
    }
    else
    {
        <div>
            Load storage
        </div>
    }
</button>
<button class="btn-primary" @onclick="ShowExplosion">Show explosion</button>

@if (_showExplosion)
{
    <div>
        @if (_isButtonExplosion)
        {
            <img src="https://media.giphy.com/media/zYMYkTGOaMoZnw8jiA/giphy.gif?cid=790b7611t93qucfxu9nxk2gcjtnkndnxzmy61fc6i8h2op84&ep=v1_gifs_search&rid=giphy.gif&ct=g"/>
        }
        else
        {
            <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExem1iZnRhZ3lhczY2MHJveDYyYTgzc203YWttMmg5emsydmdlNTFjOCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/oe33xf3B50fsc/giphy.gif" />
        }
    </div>
}

@if (_storage != null)
{
    <table>
        <tr>
            <th>Type</th>
            <th>Actual count</th>
            <th>Preferred count</th>
            <th>Missing count</th>
            <th>Commands</th>
        </tr>
        @foreach (var entry in _storage.StorageEntries)
        {
            <tr>
                <td>@GetItemType(@entry.StorageItem)</td>
                <td>@entry.ActualCount</td>
                <td>@entry.PreferredCount</td>
                <td>
                    @if (HasMissingCount(entry))
                    {
                        <div>
                            Yes
                        </div>
                    }
                    else
                    {
                        <div>
                            No
                        </div>
                    }
                </td>
                <td>
                    <button class="btn-primary" @onclick="@(() => Increase(entry))">
                        +
                    </button>
                    <button class="btn-primary" @onclick="@(() => Decrease(entry))">
                        -
                    </button>
                    <button class="btn-primary" @onclick="@(() => Remove(entry))">
                        Remove
                    </button>
                </td>
            </tr>
        }
    </table>

    <div>
        <button @onclick="ShowAddFruit">
            Add fruit
        </button>

        <button @onclick="ShowAddMeat">
            Add meat
        </button>
        
        <button @onclick="ShowAddVegetable">
            Add vegetable
        </button>
    </div>

    @if (_isAddingVegetable || _isAddingMeat || _isAddingFruit)
    {
        <div>
            @if (_isAddingVegetable)
            {
                <select @bind="_selectedVegetableType">
                    @foreach (var type in _availableVegetableTypes)
                    {
                        <option value="@type">
                            @type.ToString()
                        </option>
                    }
                </select>
            }
            else if (_isAddingMeat)
            {
                <select @bind="_selectedMeatType">
                    @foreach (var type in _availableMeatTypes)
                    {
                        <option value="@type">
                            @type.ToString()
                        </option>
                    }
                </select>
            }
            else if (_isAddingFruit)
            {
                <select @bind="_selectedFruitType">
                    @foreach (var type in _availableFruitTypes)
                    {
                        <option value="@type">
                            @type.ToString()
                        </option>
                    }
                </select>
            }
            
            <input type="number" @bind="_actualCount" min="0" max="@int.MaxValue"/>
            <input type="number" @bind="_preferredCount" min="0" max="@int.MaxValue"/>
            @if (_isAddingVegetable)
            {
                <button @onclick="AddVegetableEntry">
                    +
                </button>
            }
            else if (_isAddingMeat)
            {
                <button @onclick="AddMeatEntry">
                    +
                </button>
            }
            else if (_isAddingFruit)
            {
                <button @onclick="AddFruitEntry">
                    +
                </button>
            }
        </div>
    }
}
